.button {
  @include flex(center, center);
  @include text($h20, 300, $white, $f-raleway);
  min-width: 200px;
  padding: 20px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition-property: box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
}
