.footer {
  @include flex(center, center, column, nowrap);
  background-image: url(../assets/images/footer-img.png);
  background-position: center;
  background-size: cover;

  padding-top: 100px;
  &__block-contact {
    width: 100%;
    max-width: 1500px;
    @include flex(center, center, column, nowrap);
    padding: 0 165px;
    @include media-d-m($screen-desktop-large) {
        padding: 0;
      }
  }
  &__title {
    @include text($h90, 700, $fonts-color, $f-raleway);
    margin-bottom: 28px;
    @include media-d-m($screen-tablet-small){
      font-size: $h60;
    }
  }
  &__subtitle {
    @include text($h17, 300, $fonts-color, $f-raleway);
    max-width: 350px;
    margin-bottom: 46px;
    text-align: center;
    @include media-d-m($screen-tablet-large){
      padding: 0 11%;
  }
  }
  &__wrapper {
    @include size(100%, auto);
    @include flex(flex-start, flex-start, row, wrap);
    @include media-d-m($screen-desktop-large) {
      @include flex(center, center, column, wrap);
    }
    margin-bottom: 120px;
  }
  &__form {
    width: 100%;
    @include flex(center, center, column, wrap);
    margin-right: 170px;
    @include media-d-m($screen-desktop-large) {
      padding: 0 11%;
      margin-bottom: 48px;
      margin-right: 0;
    }
  }
  &__input {
    max-width: 495px;
    height: 50px;
    @include text($h15, 300, $white, $f-raleway);
    border-left: 5px solid transparent;
    background-color: transparentize($color: $turquoise, $amount: 0.5);
    transition-property: border-color, background-color, font-weight;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    padding: 10px;
    margin-bottom: 15px;
    // @include media-d-m($screen-tablet-small){
    //   @include size(395px, 50px);
    // }
    // @include media-d-m($screen-iphone-plus){
    //   @include size(275px, 50px);

    // }
    &:focus {
      @include text($h15, 700, $white, $f-raleway);
      border-left: 5px solid $border-color;
      background-color: transparentize($color: $turquoise, $amount: 0);
      &::placeholder {
        @include text($h15, 700, $white, $f-raleway);
      }
    }
    &::placeholder {
      @include text($h15, 300, $white, $f-raleway);
    }
    &--textarea{
      height: 250px;
    }
  }
  &__contact {
    @include media-d-m($screen-desktop-large) {
      text-align: center;
    }
  }
  &__contact-title {
    @include text($h17, 700, $fonts-color, $f-raleway);
  }
  &__contact-description {
    @include text($h17, 300, $fonts-color, $f-raleway);
    &:not(:last-of-type){
      padding-bottom: 15px;
    }
  }
  &__info {
    @include size(100%, auto);
    @include flex(space-between, center, row, wrap);
    padding: 30px 11%;
    background-color: $fonts-color;
    @include media-d-m($screen-tablet-large){
        @include flex(center, center, column, wrap);
        text-align: center;
    }
  }
  &__copyright {
    @include text($h16, 300, $spirit, $f-raleway);
  }
  &__logo {
    @include text($h25, 400, $spirit, $f-pacifico);
  }
  &__made-with {
    @include text($h16, 300, $spirit, $f-raleway);
    &--color-text {
      @include text($h16, 900, $spirit, $f-raleway);
      color: $coral;
    }
  }
}
