.services-list {
  margin-right: 130px;
  @include media-d-m($screen-desktop-large) {
    margin-right: 0;
  }
  &__item {
    @include flex(center, center, row, nowrap);
    height: auto;
    margin-bottom: 20px;
    background-color: $white;
  }
  &__title {
    @include flex(center, center, row, wrap);
    @include text($h20, 700, $fonts-color, $f-raleway);
    @include size(299px, 100px);
    border-right: 1px solid $light-black;
    text-align: center;
    @include media-d-m($screen-tablet-small){
      @include size(199px, 70px);
    }
    @include media-d-m($screen-iphone-plus){
      @include size(150px, 70px);
      font-size: $h15;
    }
  }
  &__svg {
    @include flex(center, center, row, wrap);
    font-size: 44px;
    @include size(100px, 100px);
    @include media-d-m($screen-tablet-small){
      @include size(52.5px, 70px);
      font-size: 32px;
    }
    @include media-d-m($screen-iphone-plus){
      
    }
    
  }
}
.services-list-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
}
