$button-color: $coral;

.blog{
    @include flex(center, center, column, nowrap);
    background-color: $violet;
    padding-top: 100px;
    padding-bottom: 120px;
    &__banner{
        text-align: center;
    }
    &__text-title{
        @include text($h90, 700, $white, $f-raleway);
        padding-bottom: 30px;
    }
    &__text-subtitle{
        max-width: 560px;
        @include text($h17, 300, $white, $f-raleway);
        line-height: 25px;
        margin-bottom: 27px;
        @include media-d-m($screen-tablet-large){
            padding: 0 11%;
        }
    }
    &__button-wrapper{
        width: 100%;
        padding: 0 11%;
    }
    &__button{
        background-color: $coral;
        margin: 0 auto;
        &:active{
            background-color: darken($color: $coral, $amount: 5%);
          }
    }
    
}