<section class="blog" id="blog">
  <div class="blog__banner">
    <h1 class="blog__text-title">Blog</h1>
    <h2 class="blog__text-subtitle">
      Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit.
    </h2>
  </div>
  <div class="blog-gallery">
    <ul class="blog-gallery__items">
      <li class="blog-gallery__item">
        <img
          src="./assets/images/blog-img-1.png"
          alt=""
          class="blog-gallery__item__img"
        />
        <div class="blog-gallery__content">
          <div class="blog-gallery__date">
            <h3 class="blog-gallery__date-num">20</h3>
            <h3 class="blog-gallery__date-mon">NOV</h3>
          </div>
          <div class="blog-gallery__text">
            <h3 class="blog-gallery__text-title">
              Green Smoothies: Too Much of a Good Thing?
            </h3>
            <h3 class="blog-gallery__text-subtitle">
              By Auskteez - 2 hours ago
            </h3>
          </div>
        </div>
      </li>
      <li class="blog-gallery__item">
        <img
          src="./assets/images/blog-img-2.png"
          alt=""
          class="blog-gallery__item__img"
        />
        <div class="blog-gallery__content">
          <div class="blog-gallery__date">
            <h3 class="blog-gallery__date-num">14</h3>
            <h3 class="blog-gallery__date-mon">NOV</h3>
          </div>
          <div class="blog-gallery__text">
            <h3 class="blog-gallery__text-title">
              Growing Food and a “Thirst” for Innovation
            </h3>
            <h3 class="blog-gallery__text-subtitle">
              By Auskteez - 3 hours ago
            </h3>
          </div>
        </div>
      </li>
      <li class="blog-gallery__item">
        <img
          src="./assets/images/blog-img-3.png"
          alt=""
          class="blog-gallery__item__img"
        />
        <div class="blog-gallery__content">
          <div class="blog-gallery__date">
            <h3 class="blog-gallery__date-num">10</h3>
            <h3 class="blog-gallery__date-mon">NOV</h3>
          </div>
          <div class="blog-gallery__text">
            <h3 class="blog-gallery__text-title">
              Pesticides & Food: What You Need to Know
            </h3>
            <h3 class="blog-gallery__text-subtitle">
              By Auskteez - 6 hours ago
            </h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="blog__button-wrapper">
    <button class="button blog__button">VIEW MORE</button>
  </div>
</section>
