<div class="footer" id="contact">
  <div class="footer__block-contact">
    <h1 class="footer__title">Contact</h1>
    <h1 class="footer__subtitle">
      For new projects, ideas, business or anything you'd like to discuss,
      contact with me!
    </h1>
    <div class="footer__wrapper">
      <div class="footer__form">
        <input class="footer__input input" type="text" name="" id="" placeholder="Auskteez Tran"/>
        <input class="footer__input input" type="email" name="" id="" placeholder="Your email..."/>
        <input class="footer__input input" type="text" name="" id="" placeholder="Your phone number..."/>
        <textarea class="input footer__input footer__input--textarea" name="" id="" placeholder="Your messge..."></textarea>
      </div>
      <div class="footer__contact">
        <h1 class="footer__contact-title">ADDRESS</h1>
        <h2 class="footer__contact-description">123 City name, Street, City, Country</h2>
        <h1 class="footer__contact-title">EMAIL</h1>
        <h2 class="footer__contact-description">cahee@domain.com</h2>
        <h1 class="footer__contact-title">PHONE</h1>
        <h2 class="footer__contact-description">+012 345 6789</h2>
      </div>
    </div>
  </div>
  <div class="footer__info">
    <h1 class="footer__copyright">© 2015 Company. All right reserved.</h1>
    <h1 class="footer__logo">Cahee</h1>
    <h1 class="footer__made-with">Made with <span class="footer__made-with--color-text">love</span> by Auskteez</h1>
  </div>
</div>
