<header class="header">
  <div class="header__menu">
    <article class="header__menu-logo">
      <h1 class="header__menu-logo-text">Cahee</h1>
    </article>
    <nav class="header__menu-nav">
      <ul class="header__menu-nav-items">
        <li class="header__menu-nav-item">Home</li>
        <li class="header__menu-nav-item">About</li>
        <li class="header__menu-nav-item">Services</li>
        <li class="header__menu-nav-item">Gallery</li>
        <li class="header__menu-nav-item">Blog</li>
        <li class="header__menu-nav-item">Contact</li>
      </ul>
    </nav>
  </div>
    <article class="header__block">
      <div class="header__block-wrapper">
      <h1 class="header__block-title">Fresh Life</h1>
      <h2 class="header__block-subtitle">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco.
      </h2>
      <button class="button header__block-button">GET FREE NOW</button>
    </div>
    </article>
    <div class="header__scroll">
      <a href="#about" class="header__scroll-link">
        <div class="header__scroll-block"></div>
      </a>
    </div>
</header>
