<div class="services" id="services">
  <div class="services__wrapper">
    <div class="services-list">
      <ul class="services-list__items">
      <li class="services-list__item services-list-card">
        <span class="services-list__title">Online Shopping</span>
        <span class="services-list__svg">
          <i class="fas fa-shopping-cart"></i>
        </span>
        </li>
        <li class="services-list__item services-list-card">
          <span class="services-list__title">Quality Product</span>
          <span class="services-list__svg">
            <i class="fab fa-pagelines"></i>
          </span>
        </li>
        <li class="services-list__item services-list-card">
          <span class="services-list__title">Domestic & Internationalelivery</span>
          <span class="services-list__svg">
            <i class="fas fa-globe-europe"></i>
          </span>
        </li>
        <li class="services-list__item services-list-card">
          <span class="services-list__title">Well Organized</span>
          <span class="services-list__svg">
            <i class="fas fa-carrot"></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="services__banner">
      <h2 class="services__title">Our Services</h2>
      <div class="services__images">
        <img class="services__img" src="./assets/images/tomato.png" alt="" />
      </div>
    </div>
  </div>
</div>
