<div class="subscribe" id="subscribe">
  <div class="subscribe__inner">
    <h1 class="subscribe__title">Subscribe To Us</h1>
    <h2 class="subscribe__subtitle">
      Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </h2>
    <form class="subscribe__form" action="">
      <input type="email" name="" id="" class="subscribe__input input" placeholder="Your email address..."/>
      <button class="button subscribe__button">Subscribe</button>
    </form>
  </div>
</div>
